extends master

block content

  // Char box
  div(id='char-box')
    div(id='row-1')
      div(id='avatar')
      div(id='info-box')
        strong Ackerman Mikasa
        small
          |<br>Không gì là tính cơ trên thế giới này cả.
          |<br>Tấ cả đều có lý do của chính nó!
    div(id='row-2')
    div(id='row-3')
      div(id='speed-bar')
        div
      div(id='speed-bar')
        div
      div(id='speed-bar')
        div
      div(id='speed-bar')
        div
      div(id='speed-bar')
        div
    
  div(id='content')
    // Navigation bar
    div(id='navbar')
